@import "variables";

/* BLOG */

.intro-blog{
    padding: 100px 0px;

    h1{
        font-size: 48px;
    }
}

.blog-image{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 120px 0px;
}