@import "variables";

/* PORTFOLIO */
.intro-portfolio{
    padding: 100px 0px;

    h1{
        font-size: 48px;
    }

    .intro-p{
        font-size: 20px;
    }
}

.work-post{
    margin-top: 120px;
}

button{
    color: $white;
    padding: 9px 32px;
    background-color: #565656;
    border: none;

    a{
        text-decoration: none;
        color: $white;
        font-size: 1rem;

        &:hover{
            color: $white;
            text-decoration: underline;
        }
    }
}

/* WORK DETAILS */

.intro-work-details{
    padding: 100px 0px;

    h1{
        font-size: 48px;
    }
}

.project-overview{
    padding: 70px 0px;

    h3{
        padding-bottom: 30px;
    }

    .project-details{
        
        .h3-details{
            font-size: 23px;
            padding: 0;

        }

        .p-details{
            padding: 0 0 45px 0;
        }

    }

    .work-details-paragraph{
        padding-top: 100px;

        p{
            padding: 20px 0px 00px 0px;
            font-family: $paragraph;
            font-size: 16px;
            font-weight: 400;
        }
    }


}