/* TYPOGRAPHY */

h1 {
    font-family: $titles; 
    font-size: 48px;
    font-weight: 400;
    color: $black;
}

h2 {
    font-family: $titles; 
    font-size: 42px;
    font-weight: 400;
    color: $black;
}

h3 {
    font-family: $titles; 
    font-size: 36px;
    font-weight: 400;
    color: $black;
}

h4 {
    font-family: $titles; 
    font-size: 30px;
    font-weight: 400;
    color: $black;
}

h5 {
    font-family: $titles; 
    font-size: 24px;
    font-weight: 400;
    color: $black;
}